body, html {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

nav {
    margin-top: 1rem;
    width: 90%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.7rem;
    background-color: #242424;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

li {
    list-style: none;
}

li a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

li a:hover {
    color: #78312e;
}

.content {
    width: 70%;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    padding: 0 10rem;
}

.right-con {
    color: rgb(197, 197, 197);
    font-size: 1.6rem;
}

.portfolio-btn button {
    padding: 1.5rem;
}

button {
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(11, 71, 102);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(197, 197, 197);
}

button:hover{
    background-color: #4d4a4a;
}

.middle-con {
    display: flex;
    position: relative;
}

.profile-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.chat-icon {
    position: absolute;
    top: -5px;
    left: 0;
    background-color: rgb(183, 67, 67);
    color: white;
    padding: 2rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-con {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

a {
    font-size: 2rem;
    color: rgb(197, 197, 197);
}


/* about */

.about-con {
    width: 90%;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about-con .content{
    background-color: #242424;
    width: 100%;
    height: 73vh;
}


.sub-con{
    display: flex;
    width: 100%;
    height: 30rem;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.about-img{
    display: flex;
    width: 80%;
    height: 23rem;
}

.about-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.name{
    font-size: 3rem;
    color: rgb(183, 67, 67);
}

.horizontal-line {
    width: 10rem;
    height: 5px; 
    background-color: #4d4a4a;
    border: none; 
}
.about-txt {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    padding-bottom: 3rem;
    color: #797878;
}

.about-txt p{
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: justify;
}
.about-btn button{
    padding: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgba(0, 98, 255, 0.937);
}
.about-btn button:hover{
    background-color: #375a3f;
}

.about-btn button a{
    color: #d0cdc1;
    text-decoration: none;
    font-size: 1.2rem;
}
